* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

:root {
    --Dark_cyan: hsl(185, 75%, 39%);
    --Very_dark_desaturated_blue: hsl(229, 23%, 23%);
    --Dark_grayish_blue: hsl(227, 10%, 46%);
    --Dark_gray: hsl(0, 0%, 59%);
    --Background-Color: white; /*TODO: das weiß noch in creme oder so abändern */
}

body {
    background-color: var(--Dark_cyan);
    background-image: url(images/bg-pattern-top.svg),
    url(images/bg-pattern-bottom.svg); /*TODO: richtig positionieren */
    width: 100%; /*TODO: muss weg oder? */
    background-position: -50% 50%, 0% 0%;
    background-repeat: no-repeat;
    
}

header, main {
    max-width: 375px;
    
}




main {
    width: 90%;
    margin: auto;
    text-align: center;
    background-color: var(--Background-Color);
    border-radius: 0px 0px 20px 20px;
    
}
header {
    width: 90%;
    margin: 3rem auto 0px;

}

header img {
    width: 100%;
    display: block;
    border-radius: 20px 20px 0px 0px;
}

main img {
    border-radius: 50%;
    border: 7px solid var(--Background-Color);
    margin-top: -55px;
}

h1 {
    font-weight: 700;
    font-size: 2rem;
    color: var(--Very_dark_desaturated_blue);
}

h1 span {
    color: var(--Dark_grayish_blue);
}

h2 {
    color: var(--Dark_grayish_blue);
    margin-bottom: 2rem;
}

.statistics {
    border-top: 2px solid var(--Dark_gray);
    display: flex;
    width: 100%;
}

.statistics > div {
    padding: 1.8rem 0.5rem;
    width: 33%;
}

.statistics h3 {
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.statistics p {
    color: var(--Dark_grayish_blue);
     
}